* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main-container {
  padding: 5px 10px 0 10px;
}

.arrow-menu {
  position: relative;
}
.arrow-menu i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -90px;
}

.snaps-inline {
  -ms-scroll-snap-type: inline mandatory;
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(1rem, 1rem);
  border-bottom: 2px solid #fff;
}

.media-scroller {
  display: flex;
  /* margin-top: 15px; */
  overflow-x: auto;
  gap: 4px;
  padding: 5px 5px;
  width: 100%;
  overscroll-behavior-inline: contain;
}

.menu-ad {
  height: auto;
  margin: 15px auto 15px auto;
}

.cat-sec {
  padding: 5px 15px;
  width: 100%;
  border-radius: 50px;
  display: block;
  white-space: nowrap;
  border: 3px solid white;
  box-shadow: 0px 0px 10px -4px rgb(0, 0, 0);
}
.cat-sec div {
  display: grid;
  place-items: center;
}
.cat-sec p {
  margin: 0;
  color: #fff;
  display: inline;
  font-size: 12px;
}

.news-sec {
  background-color: #70A703;
}

.sports-sec {
  background-color: #FF0001;
}

.bus-sec {
  background-color: #02AAE9;
}

.ent-sec {
  background-color: #963A8C;
}

.ghweb-tv-sec {
  background-color: #1E446B;
}

.africa-sec {
  background-color: #FFBC0A;
}

.country-sec {
  background-color: #C7AB8C;
}

.wall-sec {
  background-color: #F95914;
}

.mobile-menu.open {
  position: absolute;
}

header {
  position: relative;
}
header .logo {
  margin: 0 20px;
}
header .login {
  right: 65px;
}
header .open-button {
  left: auto;
  right: 15px;
}
header .earn {
  padding: 8px 25px;
  background-color: #FFFC01;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 85px;
}
@media (max-width: 320px) {
  header .earn {
    padding: 5px 15px;
    right: 75px;
  }
}
header .earn a {
  color: #000;
}

ul.dropdown {
  list-style: none;
  padding: 0;
  background: rgba(255, 255, 255, 0.4);
  border-bottom: 2px solid #70A703;
}
ul.dropdown li {
  border-bottom: 0;
  color: white;
  font: Normal 16px/15px Arial;
  display: block;
  padding: 15px 0;
  position: relative;
  margin-left: 10px;
  position: relative;
}
ul.dropdown li:hover ul.sub-menu, ul.dropdown li:focus ul.sub-menu {
  display: block;
}
ul.dropdown ul.sub-sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  min-width: 150px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
ul.dropdown ul.sub-sub-menu li {
  padding: 5px 0;
}
ul.dropdown ul.sub-sub-menu li a {
  color: #000;
}

#portal-sections {
  display: flex;
}

#mob_menu_2 .mob_menu_item {
  width: 49%;
}

#mob_menu_2 .mob_menu_row {
  display: flex;
  flex-wrap: wrap;
}

div#mob_menu_2 {
  width: 100%;
  display: block;
}

#mob_menu_2 .menu_item_wrapper {
  display: block;
  width: 100%;
}

.mb-5 {
  margin-bottom: 15px;
}

.categories::-webkit-scrollbar {
  width: 10px;
  height: 3.4px;
  border-radius: 50%;
}

/* Track */
.categories::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.categories::-webkit-scrollbar-thumb {
  background: #70A703;
}

/* Handle on hover */
.categories::-webkit-scrollbar-thumb:hover {
  background: #70A703;
}/*# sourceMappingURL=styles.css.map */