*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
// Helpers

.main-container {
    padding: 30px 10px 0 10px;
}
.snaps-inline {
    -ms-scroll-snap-type: inline mandatory;
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(1rem, 1rem);
}
.media-scroller {
    display: flex;
    overflow-x: auto;
    width: 100%;
    overscroll-behavior-inline: contain;
}
.cat-sec {
    padding: 10px 25px;
    width: 100%;
    display: block;
    border-bottom: 2px solid #fff;
    white-space: nowrap;

    div{
        display: grid;
        place-items: center;
    }
    p{
        margin: 0;
        color: #fff;
        display: inline;
    }
}
.news-sec{
    background-color: #70A703;
}
.sports-sec{
    background-color: #FF0001;
}
.bus-sec{
    background-color: #02AAE9;
}
.ent-sec{
    background-color: #963A8C;
}
.ghweb-tv-sec{
    background-color: #1E446B;

}
.africa-sec{
    background-color: #FFBC0A;

}
.country-sec{
    background-color: #C7AB8C;

}
.wall-sec{
    background-color: #F95914;

}
.mobile-menu.open{
    position: fixed;
}
header{
    position: relative;
    .logo{
        margin: 0 20px;
    }
    .login{
        right: 50px;
    }
    .open-button{
        left: auto;
        right: 10px;
    }
    .earn{
        padding: 7px 25px;
    background-color: #000;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 85px;
        a{

            color: #fff;
        }
    }
}