*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

// Helpers
.section-active{
    border: 2px solid #fff;
    order: -1;
}
.main-container {
    padding: 0px 10px 0 10px;
}
.arrow-menu{
    position: relative;

    i{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -90px;
    }
}
.bottom-0{
    border-bottom: 0 !important;
}
.snaps-inline {
    -ms-scroll-snap-type: inline mandatory;
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(1rem, 1rem);
    border-bottom: 2px solid #fff;
}
.media-scroller {
  display: flex;
  overflow-x: auto;
  background-color: #a7e32f;
  gap: 7px;
  padding: 10px 5px;
  width: 100%;
  overscroll-behavior-inline: contain;
}

.menu-ad{
    // width: 300px;
    height: auto;

    margin: 15px auto 15px auto;
}
.cat-sec {
    padding: 5px 15px;
    width: 100%;
    border-radius: 50px;
    display: block;
    white-space: nowrap;
    // border: 3px solid white;
    box-shadow: 0px 0px 10px -4px rgb(0,0,0);

    div{
        display: grid;
        place-items: center;
    }
    p{
        margin: 0;
    color: #fff;
    display: inline;
    font-size: 12px;
    }
}
.social .twitter_icon .icon, .socialMediaBottom .twitter_icon .icon{
    background-image: url("../img/twitter-x-logo-42562.png");
    background-size: 18px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px 0px -2px 0;
}
.socialMediaBottom a.twitter {
  background: #000;
}

.news-sec{
    background-color: #70A703;
}
.sports-sec{
    background-color: #FF0001;
}
.bus-sec{
    background-color: #02AAE9;
}
.ent-sec{
    background-color: #963A8C;
}
.ghweb-tv-sec{
    background-color: #1E446B;

}
.africa-sec{
    background-color: #FFBC0A;

}
.country-sec{
    background-color: #C7AB8C;

}
.wall-sec{
    background-color: #F95914;

}
.mobile-menu.open{
    position: fixed;
}
.mobile-takeover{
  height: 140px;
  img{
    padding: 10px 0;
  }
}
header{
  height: 53px;
    position: relative;
    .logo{
        margin: 0 20px;
    }
    .login{
        right: 65px;
    }
    .open-button{
        left: auto;
        right: 15px;
    }
    .earn{
      padding: 8px 25px;
    background-color: #FFFC01;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 85px;
    @media (max-width:320px) {
            padding: 5px 15px;
    right: 75px;
    }
        a{

            color: #000;
        }
    }
}

ul.dropdown {
  list-style: none;
  padding: 0;
  background: rgba(255, 255, 255, 0.4);
  border-bottom: 2px solid #70A703;

  li {
    border-bottom: 0;
    color: white;
    font: Normal 16px/15px Arial;
    display: block;
    padding: 15px 0;
    position: relative;
    margin-left: 10px;
    position: relative;
    &:hover,
    &:focus {
      ul.sub-menu {
        display: block;
      }
    }
  }

  ul.sub-sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    min-width: 150px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;

    li {
      padding: 5px 0;
      a{
        color: #000;
      }
    }
  }
}
#portal-sections{
    display: flex;
}
#mob_menu_2 .mob_menu_item{
    width: 49%;
}
#mob_menu_2 .mob_menu_row{
    display: flex;
    flex-wrap: wrap;
 }

 div#mob_menu_2 {
    width: 100%;
    display: block;
}
#mob_menu_2 .menu_item_wrapper{
    display: block;
    width: 100%;
}
.main-container.article{
    padding-top:0px ;
}
.article_share{
    position: relative;
    top: auto;
    z-index: 1;
}
.mb-5{
    margin-bottom: 15px;
}
.space-between{
    justify-content: space-between;
}

.categories::-webkit-scrollbar {
    width: 10px;
    height: 3.4px;
    border-radius: 50%;
  }
  
  /* Track */

  .categories::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  .categories::-webkit-scrollbar-thumb {
    background:#70A703 ; 
  }
  .sportspage{
    & .categories::-webkit-scrollbar-thumb{
      background: #FF0001;
    
      }
      & .categories::-webkit-scrollbar-thumb:hover{
        background: #FF0001;
      
        }
        & .media-scroller{
          background-color: #f85151;
        
        }
        & .select-selected{
          color: #FF0001;

          &::after{
            border-color: #FF0001 transparent transparent transparent;
          }
        }
  }
  .businesspage{
    & .categories::-webkit-scrollbar-thumb{
      background: #02AAE9;
    
      }
      & .categories::-webkit-scrollbar-thumb:hover{
        background: #02AAE9;
      
        }
        & .media-scroller{
          background-color: #6dcef1;
        
        }
        & .select-selected{
          color: #02AAE9;

          &::after{
            border-color: #02AAE9 transparent transparent transparent;
          }
        }
        &  .select-selected::after{
          right: -5px !important;
        }
       
  }
  .article_section .arrow-left .left_icon, .article_section .arrow-right .right_icon{
    margin-top: 0;
  }
  .article_section .arrow-left .left_icon{
    padding: 0 20px 17px 0px;
  }
  .article_section .arrow-right .right_icon{
    padding: 0 20px 17px 19px;

  }
  .title-container{
    display: flex;
    align-items: center;
  }
  .entertainmentpage{
    & .categories::-webkit-scrollbar-thumb{
      background: #963A8C;
    
      }
      & .categories::-webkit-scrollbar-thumb:hover{
        background: #963A8C;
      
        }
        & .media-scroller{
          background-color: #d874cd;
        
        }
        & .select-selected{
          color: #963A8C;

          &::after{
            border-color: #963A8C transparent transparent transparent;
          }
        }

        & .select-selected::after{
          right: -35px !important;
        }
       
  }

  
  /* Handle on hover */
  .categories::-webkit-scrollbar-thumb:hover {
    background: #70A703; 
  }
  
  .d-flex{
    display: flex;
    align-items: center;
  }
  .gap-5{
    gap: 5px;
  }


  .custom-select {
    position: relative;
    font-family: Arial;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  .custom-select{
    //   margin: 0 20px;
    width: 90px;
      border: 1.5px solid transparent;
  }
  
  .select-selected {
    background-color: #ececec;
    color: #70A703;
  }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 10px;
    right: 20px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #70A703 transparent transparent transparent;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #70A703 transparent;
    top: 4px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    padding: 4px;
  //   border: 1px solid transparent;
  //   border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: #ececec;
    top: 100%;
    width: 250px;
    padding: 10px;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }